{{define "managed-database-credentials.html"}}
<dialog class="application-dialog" id="managed-database-credentials-dialog" aria-labelledby="managed-database-credentials-title" aria-describedby="managed-database-credentials-description" data-managed-dialog data-managed-credentials open>
  <div class="application-dialog-panel">
    <header class="application-dialog-header">
      <div><h2 id="managed-database-credentials-title">Database created</h2><p id="managed-database-credentials-description">Save these credentials now. This new user has read/write access to the created database only. The password will not be shown again.</p></div>
    </header>
    <div class="application-form">
      <div class="field"><label for="managed-created-username">Username</label><input class="databases-technical-value" id="managed-created-username" type="text" value="{{.Username}}" readonly autocomplete="off"></div>
      <div class="field"><label for="managed-created-password">Password</label><input class="databases-technical-value" id="managed-created-password" type="password" value="{{.Password}}" readonly autocomplete="off" data-managed-created-password></div>
      <div class="application-form-actions">
        <button class="button button-secondary" type="button" data-managed-password-toggle aria-controls="managed-created-password" aria-pressed="false">Show password</button>
        <button class="button button-secondary" type="button" data-copy-target="managed-created-password"><span>Copy password</span></button>
      </div>
      <footer class="application-form-actions">
        <a class="button button-secondary" href="{{.DownloadURL}}" download="{{.Username}}.creds.env">{{template "managed-download-icon"}}<span>Download credentials</span></a>
        <a class="button button-primary" href="/databases" data-managed-dialog-close>Done</a>
      </footer>
    </div>
  </div>
</dialog>
{{end}}
